# Frontend
client/node_modules/
client/dist/

# Environment variables
client/.env
server/.env

# Python
server/venv/
server/__pycache__/
*.pyc

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db